// Screens:
$media-sm :"600px";
$media-md :"768px";
$media-lg :"1024px";
$media-sm :"1280px";
$media-sm :"1680px";

// Colors:
$primary-100: #1f2023;
$secondary-100: #3972e0;

$white-100:#ffffff;
$gray-100:#cecece;
$gray-150:#c8d0e7;
$gray-200:#efefef;
$gray-250: #e0e5ec;
$gray-300: #f2f2f2;
$gray-350: #a1a1a1;
$gray-600: #575F6B;

$pink-100:#F5C2D6;

// Border-radius
$border-radius-md: 1.6rem;
$border-radius-lg: 4rem;
$border-radius-full: 50%;

