@import "variables";

body {
  background-color: $gray-300;
  font-family: "Raleway", sans-serif;
  letter-spacing: .2rem;
  color: $gray-600;
}

#app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

input{
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  letter-spacing: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.base{
  &-card {
    @apply pt-32 pb-55 px-30 rounded-lg h-full w-full bg-gray-300 text-center;
    box-shadow: 28px 28px 56px #cecece, -28px -28px 56px #ffffff;
  }

  &-album{
    @apply w-156 h-156;
    box-shadow: 2px 2px 7px #cecece, -2px -2px 7px #cecece,
    -8px -8px 50px #efefef, 3px 3px 25px #efefef;
  }
}


